@import "./app/index";
@import "./components/index";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: inherit;
}
.light {
  background-color: rgb(244, 242, 242);
  color: #141414;
}
.dark {
  background-color: rgb(26, 26, 26);
  color: #bbb;
}
.theme {
  transition: all 0.5s ease;
}
