.regisContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  form {
    width: 25%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    input {
      padding: 20px;
      border: 0.5px solid #bbb;
      color: #898888;
      background-color: transparent;
      border-radius: 3px;
      outline: none;
      font-size: 15px;
      font-weight: bold;
    }
    button {
      padding: 20px;
      background-color: #53c28b;
      color: white;
      border-radius: 3px;
      border: 0.5px solid #bbb;

      cursor: pointer;
    }
  }
}
.LoginContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  .googleLoginBtn {
    width: 25%;
    padding: 15px 20px;
    background-color: #848484;
    color: white;
    border-radius: 3px;
    border: 0.5px solid #bbb;
    transition: all 0.3s ease;
    font-size: 15px;
    font-weight: bold;
    &:hover {
      border-radius: 20px;
      border-top: 2px solid rgb(255, 30, 0);
      border-left: 2px solid rgb(242, 255, 0);
      border-bottom: 2px solid rgb(0, 128, 19);
      border-right: 2px solid rgb(0, 68, 255);
      background-color: white;
      color: black;
    }
  }
  .githubLoginBtn {
    width: 25%;
    padding: 15px 20px;
    background-color: #848484;
    color: white;
    border-radius: 3px;
    border: 0.5px solid #bbb;
    transition: all 0.3s ease;
    font-size: 15px;
    font-weight: bold;
    &:hover {
      border-radius: 20px;
      background-color: white;
      color: black;
    }
  }
}
